{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wedjoy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="background-color: #ffd3ac;">

    <!-- ===== Navbar ===== -->
    <header class="wj-navbar-header">
        <nav class="wj-navbar-container">
            <ul class="wj-navbar-menu">
                <li><a href="{% url 'userupdateprofile' %}">Update Profile</a></li>
                <li><a href="{% url 'userregisteredevents' %}">Registered Event</a></li>
                <li><a href="{% url 'uservolunteering' %}">Volunteering Participation</a></li>
                <li><a href="{% url 'usersecurity' %}">Security</a></li>
                <li><a href="{% url 'usercomments' %}">Comments</a></li>
            </ul>
        </nav>
    </header>

    <!-- ===== Page Content ===== -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>