{% extends 'core/baseUserProfile.html' %}
{% block content %}
{% load static %}

<div class="glass-container" style="background: #ffffff">

    <h2 class="form-title"><center> Update Profile </center></h2>

    <form method="POST" class="glass-form">
        {% csrf_token %}

        <div class="row">
            
            <div class="form-group">
                <label>First Name</label>
                {{ form.firstName }}
            </div>

            
            <div class="form-group">
                <label>Last Name</label>
                {{ form.lastName }}
            </div>
        
            
            <div class="form-group">
                <label>Email</label>
                {{ form.email }}
            </div>

            
            <div class="form-group">
                <label>Phone Number</label>
                {{ form.phone_number }}
            </div>
        </div>

        
        <div class="form-group">
            <label>Address</label>
            {{ form.address }}
        </div>

        <div class="row">
            
            <div class="form-group">
                <label>City</label>
                {{ form.city }}
            </div>

            <div class="form-group">
                <label>State</label>
                {{ form.state }}
            </div>
        
            <div class="form-group">
                <p>Gender</p>

            </div>
            {{ form.gender }}            

        </div>
        
        <button type="submit" class="btn-glow">Update</button>

    </form>


</div>



{% endblock content %}
